.borderSearch {
    opacity: 0.3;
    border: 1px solid #376AED;
    box-sizing: border-box;
    border-radius: 10px;
}

.searchBox {
    outline: 0;
    border: 0;
}

.divider {
    margin: 0rem 0;
}

.userPointer {
    cursor: pointer;
}