.landingFirst {
    background: url(../assets/man-newspaper-banner-homepage.svg) no-repeat;
    background-size: cover;
    height: 1000px;
}

.bannerHomepage {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700 Bold;
    font-style: normal;
    font-size: 65px;
    line-height: 73.85px;
}

.subtitleHomepage {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}

.btnStartExploring {
    background: #376AED;
    border: 1px solid #376AED;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Lato';
    width: 170px;
    height: 50px;
    padding: 10px 20px;
}

.tagBackground {
    background: rgba(82, 130, 255, 0.09);
    border-radius: 5px;
}

.recommendedCardBackground {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    cursor: pointer;
}

.landingThird {
    background: #D7DDEC;
    padding: 60px 60px;
}

.bannerVideoSection {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 157%;  
}

.btnGetStarted {
    background: #376AED;
    border: 1px solid #D9DFEB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    padding: 12px 8px;
    cursor: pointer;
}