.boxCoverPhoto {
    border: 1px solid rgba(55, 106, 237, 0.3);
    box-sizing: border-box;
    border-radius: 16px;
}

.innerBorderPhoto {
    border: 1px dashed rgba(55, 106, 237, 0.3);
    box-sizing: border-box;
    border-radius: 16px;
}

.formArticle {
    border: 1px solid rgba(55, 106, 237, 0.3);
    box-sizing: border-box;
    border-radius: 16px;
}
.formArticle:focus {
    outline: none;
}

.btnChoosePhoto {
    background: #0D253C;
    border-radius: 16px;
    cursor: pointer;
}

.btnRequestPublish {
    background: #376AED;
    box-shadow: 0px 0px 20px rgba(55, 106, 237, 0.6);
    border-radius: 16px;
    cursor: pointer;
}

.btnSubmitPicture {
    background: #376AED;
    border-radius: 16px;
    cursor: pointer;
}

/* Modal Pic */
.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
}

.modalInner {
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.closeButton {
    color: gray;
    cursor: pointer;
  }